<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/stylesheet/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Fukuoka</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" >Fukuoka view</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Scenery</a></li>
                            <li><a class="dropdown-item" href="#">Coffee</a></li>
                            <li><a class="dropdown-item" href="#">Hot spring</a></li>
                            <li><a class="dropdown-item" href="#">Restaurant</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Your New Post</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

<main>
    <div class="home-content wrapper">
        <h2 class="page-title">Fukuoka view</h2>
        <p class="p">福岡のおすすめスポットをご紹介・ご覧いただけるサイトです</p>
        <br>
        <div class="buttun">
            <%= link_to "New Post", new_upload_path(@uploads), class: "btn btn-outline-secondary" %>
        </div>
        <div class="buttun">
            <%= link_to "ALL Post", uploads_path(@uploads), class: "btn btn-outline-secondary" %>
        </div>
    </div>

    <div class="home">
        <div class="text">
            <h1>Scenery</h1>
            <h2>景色</h2>
            <p class="content">福岡の魅力は多彩な自然美。海と山に囲まれ、美しい景観が広がります。桜や紅葉が映え、歴史ある城下町とモダンな都市が共存し、四季折々の風情が心を癒します。</p>
        </div>
        <%= image_tag "body01.jpg", class: "pict" %>
    </div>
    

    <div class="home">
        <div class="text">
            <h1>Coffee</h1>
            <h2>カフェ</h2>
            <p class="content">質の高いコーヒー文化が根付く福岡。洗練されたカフェが点在し、新鮮な豆を使った美味しいコーヒーが楽しめます。居心地の良い空間で、ゆったりとしたひと時を過ごせます。</p>
        </div>
        <%= image_tag "body02.jpg", class: "pict" %>
    </div>
        

    <div class="home">
        <div class="text">
            <h1>Hot spring</h1>
            <h2>温泉</h2>
            <p class="content">地獄めぐりや温泉地巡りが楽しめ、天然の温泉が豊富。湯量も多く、美肌やリラックス効果が期待できます。伝統的な宿からモダンなスパまで多彩な選択があります。</p>
        </div>
        <%= image_tag "body03.jpg", class: "pict" %>
    </div>
      
    <div class="home">
        <div class="text">
            <h1>Restaurant</h1>
            <h2>お食事処</h2>
            <p class="content">博多ラーメンやもつ鍋など、福岡ならではの郷土料理が堪能できます。新鮮な海の幸も豊富で、地元食材を使った美食が楽しめ、食の宝庫として知られています。</p>
        </div>
        <%= image_tag "body04.jpg", class: "pict" %>
    </div>

    </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>


</html>