
  <main>
      <p style="color: green"><%= notice %></p>
      <%= stylesheet_link_tag 'uploads', media: 'all', 'data-turbolinks-track': 'reload' %>
      <div class="container">
        <p class="title">
          <%= upload.title %>
        </h2>
     <div class="flex">
     <p class="image">
        <%= image_tag(upload.image_url) if upload.image? %>
     </p>
     <p class="body">
        <%= upload.body %>
     </p>
    </div>
  </main>

